<div class="w-full max-w-full px-3 lg:w-5/12 lg:flex-none">
    <div slider class="relative w-full h-full overflow-hidden rounded-2xl">
        {% block slider %}{% endblock %}

        <!-- Control buttons -->
        <button btn-next class="absolute z-10 w-10 h-10 -p-2 text-lg text-white border-none opacity-50 cursor-pointer hover:opacity-100 active:scale-110 top-6 right-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"/>
            </svg>
        </button>
        <button btn-prev class="absolute z-10 w-10 h-10 -p-2 text-lg text-white border-none opacity-50 cursor-pointer hover:opacity-100 active:scale-110 top-6 right-16">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5"/>
            </svg>
        </button>
    </div>
</div>
