<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="apple-touch-icon" sizes="76x76" href="/img/apple-icon.png" />
        <link rel="icon" type="image/png" href="/Luxar.png" />
        <title>LUXAR</title>

        <!--     Fonts and icons     -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        <!-- Font Awesome Icons -->
        <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="m-0 font-sans antialiased font-normal bg-white text-start text-base leading-default text-slate-500">
        {% include "/home/_partials/navbar.html.twig" %}

    <!-- Main Content -->
    <main class="container mx-auto mt-10 px-4 md:px-6">
        {% include "/home/_partials/introduction.html.twig" %}<br><br>
        {% include "/home/_partials/presentation.html.twig" %}
        {% include "/home/_partials/forfait.html.twig" %}
    </main>

    <!-- Footer -->
    <footer class="bg-white mt-16 py-6">
        <div class="container mx-auto text-center">
            <p class="text-gray-700">&copy; 2024 Luxar. Tous droits réservés.</p>
        </div>
    </footer>
</body>
</html>
