{# templates/login/signup.html.twig #}

{% extends 'login/index.html.twig' %}

{% block form %}
    <div class="max-w-xl mx-auto my-4 border-b-2 pb-4">
        <div class="flex pb-3">
            <div class="flex-1" id="text_progress_number_1">
                <div class="w-10 h-10 bg-blue mx-auto rounded-full text-lg text-white flex items-center">
                    <span class="text-white text-center w-full">1</span>
                </div>
            </div>
            <div class="w-1/6 align-center items-center align-middle content-center flex" id="bar_progress_number_1">
                <div class="w-full bg-grey-light rounded items-center align-middle align-center flex-1">
                    <div class="bg-green-light text-xs leading-none py-1 text-center text-grey-darkest rounded" style="width: 0%"></div>
                </div>
            </div>
            <div class="flex-1" id="text_progress_number_2">
                <div class="w-10 h-10 bg-white border-2 border-grey-light mx-auto rounded-full text-lg text-white flex items-center">
                    <span class="text-grey-darker text-center w-full">2</span>
                </div>
            </div>
            <div class="w-1/6 align-center items-center align-middle content-center flex" id="bar_progress_number_2">
                <div class="w-full bg-grey-light rounded items-center align-middle align-center flex-1">
                    <div class="bg-green-light text-xs leading-none py-1 text-center text-grey-darkest rounded" style="width: 0%"></div>
                </div>
            </div>
            <div class="flex-1" id="text_progress_number_3">
                <div class="w-10 h-10 bg-white border-2 border-grey-light mx-auto rounded-full text-lg text-white flex items-center">
                    <span class="text-grey-darker text-center w-full">3</span>
                </div>
            </div>
        </div>
        <div class="flex text-xs content-center text-center">
            <div class="w-1/3">
                Inscription
            </div>
            <div class="w-1/3">
                Personal details
            </div>
            <div class="w-1/3">
                Application details
            </div>
        </div>
    </div>

    {{ form_start(registrationForm) }}
        {% include 'login/_step/step1.html.twig' %}
        {% include 'login/_step/step2.html.twig' %}
        {% include 'login/_step/step3.html.twig' %}

        <div class="flex items-center justify-between mt-6">
            <button type="button" id="form_btn_prev" onclick="step.prev()" class="bg-gray-300 text-gray-700 px-6 py-2 rounded-lg font-semibold shadow-md hover:bg-gray-400 hidden">Précédent</button>
            <button type="button" id="form_btn_next" onclick="step.next()" class="bg-blue-500 text-white px-6 py-2 rounded-lg font-semibold shadow-md hover:bg-blue-600">Suivant</button>
            <button type="submit" id="form_submit" class="bg-blue-500 text-white px-6 py-2 rounded-lg font-semibold shadow-md hover:bg-blue-600 hidden">S'inscrire</button>
        </div>

        {# Display form errors #}
        {% if registrationForm.vars.errors|length > 0 %}
            <div class="text-red-500">
                <ul>
                    {% for error in registrationForm.vars.errors %}
                        <li>{{ error.message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {{ form_end(registrationForm) }}

    <script>
        // JavaScript pour gérer la navigation entre les étapes avec redirection
        class Step {
            static step = [1, 2, 3];

            currentStep = 1;

            constructor() {
                // this.currentStep = 1;
            }

            prev() {
                this.currentStep--;

                if (this.currentStep == 1) {
                    document.getElementById('form_btn_prev').classList.add('hidden');
                    document.getElementById('step1').classList.remove('hidden');
                    document.getElementById('step2').classList.add('hidden');
                    document.getElementById('step3').classList.add('hidden');

                    document.getElementById('text_progress_number_1').children[0].classList.add('bg-blue');
                    document.getElementById('text_progress_number_1').children[0].classList.remove('bg-green');

                    document.getElementById('text_progress_number_2').children[0].children[0].classList.add('text-white');
                    document.getElementById('text_progress_number_2').children[0].children[0].classList.remove('text-grey-darker');

                    document.getElementById('bar_progress_number_1').children[0].children[0].style.width = '0%';

                    document.getElementById('text_progress_number_2').children[0].classList.add('bg-white');
                    document.getElementById('text_progress_number_2').children[0].classList.add('border-2');
                    document.getElementById('text_progress_number_2').children[0].classList.add('border-grey-light');
                    document.getElementById('text_progress_number_2').children[0].children[0].classList.remove('text-white');
                    document.getElementById('text_progress_number_2').children[0].children[0].classList.add('text-grey-darker');
                    document.getElementById('text_progress_number_2').children[0].classList.remove('bg-green');
                }

                if (this.currentStep == 2) {
                    document.getElementById('form_btn_prev').classList.remove('hidden');

                    document.getElementById('step1').classList.add('hidden');
                    document.getElementById('step2').classList.remove('hidden');
                    document.getElementById('step3').classList.add('hidden');

                    document.getElementById('text_progress_number_2').children[0].classList.remove('bg-green');
                    document.getElementById('text_progress_number_2').children[0].classList.add('bg-blue');

                    document.getElementById('bar_progress_number_2').children[0].children[0].style.width = '0%';

                    document.getElementById('text_progress_number_3').children[0].classList.add('bg-white');
                    document.getElementById('text_progress_number_3').children[0].classList.add('border-2');
                    document.getElementById('text_progress_number_3').children[0].classList.add('border-grey-light');

                    document.getElementById('text_progress_number_3').children[0].classList.remove('bg-blue');

                    document.getElementById('text_progress_number_3').children[0].children[0].classList.remove('text-white');
                    document.getElementById('text_progress_number_3').children[0].children[0].classList.add('text-grey-darker');
                }

                document.getElementById('form_btn_next').classList.remove('hidden');
                document.getElementById('form_submit').classList.add('hidden');

                console.log(this.currentStep);
                return this.currentStep;
            }

            next() {
                this.currentStep++;

                document.getElementById('form_btn_prev').classList.remove('hidden');

                document.getElementById('step1').classList.add('hidden');

                if (this.currentStep == 2) {
                    document.getElementById('step2').classList.remove('hidden');

                    document.getElementById('text_progress_number_1').children[0].classList.remove('bg-blue');
                    document.getElementById('text_progress_number_1').children[0].classList.add('bg-green');

                    document.getElementById('bar_progress_number_1').children[0].children[0].style.width = '100%';

                    document.getElementById('text_progress_number_2').children[0].classList.remove('bg-white');
                    document.getElementById('text_progress_number_2').children[0].classList.remove('border-2');
                    document.getElementById('text_progress_number_2').children[0].classList.remove('border-grey-light');
                    document.getElementById('text_progress_number_2').children[0].children[0].classList.add('text-white');
                    document.getElementById('text_progress_number_2').children[0].children[0].classList.remove('text-grey-darker');
                    document.getElementById('text_progress_number_2').children[0].classList.add('bg-blue');
                }

                if (this.currentStep == 3) {
                    document.getElementById('form_btn_next').classList.add('hidden');
                    document.getElementById('form_submit').classList.remove('hidden');

                    document.getElementById('step1').classList.add('hidden');
                    document.getElementById('step2').classList.add('hidden');
                    document.getElementById('step3').classList.remove('hidden');

                    document.getElementById('text_progress_number_2').children[0].classList.remove('bg-blue');
                    document.getElementById('text_progress_number_2').children[0].classList.add('bg-green');

                    document.getElementById('bar_progress_number_2').children[0].children[0].style.width = '100%';

                    document.getElementById('text_progress_number_3').children[0].children[0].classList.add('text-white');
                    document.getElementById('text_progress_number_3').children[0].children[0].classList.remove('text-grey-darker');

                    document.getElementById('text_progress_number_3').children[0].classList.remove('bg-white');
                    document.getElementById('text_progress_number_3').children[0].classList.remove('border-2');
                    document.getElementById('text_progress_number_3').children[0].classList.remove('border-grey-light');

                    document.getElementById('text_progress_number_3').children[0].classList.add('bg-blue');
                }

                console.log(this.currentStep);
                return this.currentStep;
            }
        }

        // instance
        const step = new Step();
    </script>
{% endblock %}

{% block img %}
    <div class="relative flex flex-col justify-center h-full bg-cover px-24 m-4 overflow-hidden bg-[url('https://luxar.space/build/images/login_signup.webp')] rounded-xl">
        <span class="absolute top-0 left-0 w-full h-full bg-center bg-cover bg-gradient-to-tl from-zinc-800 to-zinc-700 opacity-70"></span>
        <h4 class="z-20 mt-12 font-bold text-white">Register</h4>
        <p class="z-20 text-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic.</p>
    </div>
{% endblock %}
