<!-- Pricing Plans Section -->
        <section class="mt-16">
            <h2 class="text-3xl font-bold text-center mb-8">Nos forfaits</h2>
            <div class="grid md:grid-cols-3 gap-8">
                <div class="bg-white p-6 rounded-lg shadow-md">
                    <h3 class="text-2xl font-bold mb-4">Starter</h3>
                    <p class="text-gray-700 mb-4">Idéal pour les petites entreprises qui débutent.</p>
                    <p class="text-4xl font-bold mb-4">9 €<span class="text-lg font-medium">/mois</span></p>
                    <ul class="text-gray-700 mb-4">
                        <li>30 Clients</li>
                        <li>Factures illimitées</li>
                        <li>36 Factures par envoi Premium</li>
                    </ul>
                    <a href="/register" class="bg-blue-500 text-white py-2 px-4 rounded-lg font-semibold shadow-md hover:bg-blue-600">Choisir Starter</a>
                </div>
                <div class="bg-white p-6 rounded-lg shadow-md">
                    <h3 class="text-2xl font-bold mb-4">Business</h3>
                    <p class="text-gray-700 mb-4">Pour les entreprises en croissance.</p>
                    <p class="text-4xl font-bold mb-4">17 €<span class="text-lg font-medium">/mois</span></p>
                    <ul class="text-gray-700 mb-4">
                        <li>Clients illimités</li>
                        <li>Factures illimitées</li>
                        <li>120 Factures par envoi Premium</li>
                    </ul>
                    <a href="/register" class="bg-blue-500 text-white py-2 px-4 rounded-lg font-semibold shadow-md hover:bg-blue-600">Choisir Business</a>
                </div>
                <div class="bg-white p-6 rounded-lg shadow-md">
                    <h3 class="text-2xl font-bold mb-4">Pro</h3>
                    <p class="text-gray-700 mb-4">Pour les grandes entreprises.</p>
                    <p class="text-4xl font-bold mb-4">40 €<span class="text-lg font-medium">/mois</span></p>
                    <ul class="text-gray-700 mb-4">
                        <li>Clients illimités</li>
                        <li>Factures illimitées</li>
                        <li>360 Factures par envoi Premium</li>
                    </ul>
                    <a href="/register" class="bg-blue-500 text-white py-2 px-4 rounded-lg font-semibold shadow-md hover:bg-blue-600">Choisir Pro</a>
                </div>
            </div>
        </section>