<section class="text-center">
    <h1 class="text-4xl font-bold text-blue-600">Qui sommes-nous ?</h1>
    <p class="mt-4 text-lg text-gray-700">Luxar est votre guichet unique pour tous vos besoins en composants informatiques. Nous offrons une plateforme conviviale où les boutiques peuvent acheter, les fournisseurs peuvent gérer leurs produits, les comptables peuvent créer des devis et des factures, et les administrateurs peuvent gérer les utilisateurs.<p><br>

    Chez Luxar, nous simplifions le processus d'achat et de gestion pour vous permettre de prospérer dans le monde de la vente de produits informatiques. Rejoignez-nous dès aujourd'hui et découvrez comment nous pouvons vous aider à réussir !</p>
</section>